<% include ../partials/header %>

    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <h1 class="card-title">
                    <%= user.firstName + " " + user.lastName %>
                </h1>
                <img class="card-img-bottom" src="<%= user.avatar%>" alt="User profile image">
            </div>
            <h2>Bio:</h2>
            <p>
                <%= user.bio %>
            </p>
            <% if(currentUser && user._id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
                <div class="text-center">
                    <a class=" btn btn-lg btn-warning" href="/users/<%= user._id %>/edit"> Edit Profile </a>
                </div>
                <% } %>
        </div>
        <div class="col-md-8">
            <h3>
                Castles posted by
                <%= user.username %>
            </h3>
            <ul>
                <% if(castles.length < 1){ %>
                    <h3>No castles submitted yet...</h3>
                    <% } else { %>
                        <% castles.forEach(function(castle) { %>
                            <li>
                                <a href="/castles/<%=castle.id%>">
                                    <%= castle.name %>
                                </a>
                            </li>
                        <% }); %>
                <% }; %>
            </ul>
        </div>

    </div>

    <% include ../partials/footer %>